body{
 margin: 0;
 padding: 0;   
font-family: 'Bebas Neue',cursive;
}

#header{
height: 10vh;
width: 100%;
background-color: transparent;
z-index: 1;
}


#container_header{

width: 90%;
margin: auto;

display: flex;
justify-content: space-between;
align-items: center;

}

#Logo{

height: 100px;
width: 140px;    

}

#navbar{
width: 45%;
list-style: none;
border-radius: 20px;
font-family:'Cinzel',cursive;

}

#navbar_itens{
  display: flex;
justify-content: space-evenly;
}

#navbar a{
color: whitesmoke;   
text-decoration: none;
font-size: 25px;

}

#Section1{

z-index: 1;

height: 90vh;
width: 100vw;

display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
}

.span_compre{

color: whitesmoke;
font-size: 35px;

}

.video_fundo{
object-fit: fill;
height: 100vh;
width: 100vw;

z-index: -1;

left: 0;
top: 0;

position: absolute;
}

#Nome_catchphrase{
 height: 60%;
 width: 100%; 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 
}


#nome_empresa{
font-size: 80px;
color: whitesmoke;
font-family:'Cinzel',cursive;
margin: 0.5%;
}

#a_compre{

margin-top: 3%;

text-decoration: none;  

padding: 1%;
border: 1px solid whitesmoke;
border-radius: 20px;
background-color: transparent;  

color: yellow;
font-size: 20px;
}


#Diferencial{

  display: flex;
  justify-content: space-around;
  
  
  height: 30%;
  width: 100%;
  
  margin-top: 2%;
  
  
  
  }
  
  .motivo{
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
     
  height: 70%;
  width: 32%; 
  
  font-size: 20px;
  color: whitesmoke;
  
  padding: 1%;
  border-radius: 10px;
  
  }

.hs{
  font-family: 'Cinzel',cursive;
}


#Section2{

margin: auto;  

background-image: url(/ImgDeItens/Design\ 2.png);
background-repeat: no-repeat;
background-size: cover;



height: 100vh;
width: 100vw;

display: flex;
}


#Section3{

height: 50vh;
width: 90vw;
display: flex;
flex-direction: row;

margin:auto;
}


#Section4{
  width: 100vw;
  height: 40vh;
}




footer{

height: 10vh;
width: 100vw;

display: flex;
align-items: center;
justify-content: center;
background-color: black;
color: white;

}


/* Elojob.html */

#control_select_img{
  width:60%;
  display: flex;
align-items: flex-start;
flex-direction: column;

}


#select_elo{
    display: flex;
    justify-content: space-around;
    width: 100%;    
    
    
}

#elo_b{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  
}

#div_simulador{

width: 40%;
}

#control_grafico{
  height: 200px;
  width: 310px;
  margin: auto;
}

#Tempo_elo{
width: 300px;
height: 300px;

}
