body{
  margin: 0;
  padding: 0;  
  background-image: url(/ImgDeItens/Fundos/Fundo4.jpg);
  background-size: cover;
}

#Logo{

  height: 100px;
  width: 140px;    
  
  position: absolute;
  top: 5%;
  right: 5%;

  }

#div_cadastro{

height: 100vh;
width: 100vw;

display: flex;
justify-content: center;
align-items: center;

}

#div_control{
height: auto;
width: 28%;

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

form{
display: flex;
flex-wrap: wrap;
flex-direction: column; 
align-items: center;
  
margin-bottom: 7%;

}

h1{
  align-self: center;
 color: rgb(255, 255, 255);
 font-size: 35px; 
 font-weight: bolder;
}

.ipt_form{
  width: 100%;
 height: 35px; 
 margin-top: 4%;
 margin-bottom: 4%;
 font-size: 20px;
}


#btn_login{
background-color: yellow;
color: black;
font-weight: bold;
font-size: 20px;
height: 40px;  
width: 50%;
border-radius: 20px;
}

#control_cadastrar{
 display: flex;
 justify-content: space-between; 
}